.first-title{
  text-align: center;
  font-family: 'Open Sans';
  font-size: 2.5em;
  margin-top: 1.2em;
  color: rgb(86, 70, 70);
}

.second-title{
  text-align: center;
  font-family: 'Open Sans';
  font-size: 2.5em;
  margin-top: 3em;
  color: rgb(86, 70, 70);
}


/* ARTICLE GRID */
.article-div {
  display: grid;
  margin-top: 20px;
  margin-left: 20%;
  margin-right: 20%;
  font-family: 'Open Sans';
  font-size: 1.5em;
}

.article-title{
  min-width: 200px;
  font-weight: bold;
  color: rgb(86, 70, 70);
}

.inside-text{
  min-width: 200px;
  color: rgb(86, 70, 70);
}

.effect {
  position: relative;
  max-width: 100%;
}

.effect img.image-art{
  border-radius: 0.5em;
  box-shadow: 0 7px 14px rgba(106, 102, 102, 0.25), 0 5px 5px ;
  width: 480px;
}


.effect img.image-hover{
  position: absolute;
  width: 480px;
  border-radius: 0.5em;
  box-shadow: 0 7px 14px rgba(106, 102, 102, 0.25), 0 5px 5px ;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity .2s;
}
.effect:hover img.image-hover {
  opacity: 1;
}

.effect:hover img.image-art {
  opacity: 0;
}

.image-size{
  border-radius: 50%;
  box-shadow: 0 7px 14px rgba(150, 144, 144, 0.05), 0 2px 2px ;
  width: 60px;
  height: 60px;
}

.s-elements{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;

}
.s-elements a{
  all: unset;
}
.s-elements:hover{
  cursor: pointer;
}



.desc-elements{
  margin-top: 10vw;
  display: grid;
  column-gap: 16px;
  row-gap: 10vh;
  margin-left: 30px;
  margin-right: 30px;
  column-gap: 30vh;
}


@media only screen and (min-width : 320px) {
  .article-div {
    grid-template-columns: 1fr;
  
  }
  
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
  .article-div {
    grid-template-columns: 1fr;
  
  }
  
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .article-div {
    grid-template-columns: 1fr ;
  
  }
  .desc-elements {
    grid-template-columns: 1fr ;
  }
  
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  
  .article-div {
    grid-template-columns: 1fr 1fr;
  
  }
  .desc-elements {
    grid-template-columns: 1fr;
  }
  
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

  .article-div {
    grid-template-columns: 1fr 1fr;
  
  }
  .desc-elements {
    grid-template-columns: 1fr 1fr;
  }

 
}