.first-title{
  text-align: center;
  font-family: 'Open Sans';
  font-size: 2.5em;
  margin-top: 1.2em;
  color: rgb(86, 70, 70);
}


.grid-table {
  display: grid;
  column-gap: 16px;
  row-gap: 40px;
  margin-left: 30px;
  margin-right: 60px;
  grid-template-columns: 1fr  ;

}


.grid-element {
  display: grid;
  column-gap: 16px;
  row-gap: 40px;
  margin-left: 30px;
  margin-top: 80px;
  grid-template-columns: 1fr  ;
  width: 100%;

}

.image-grid {
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
  box-shadow: 0 7px 14px rgba(106, 102, 102, 0.25), 0 5px 5px ;
  
}

.image-desc{
  font-family: 'Open Sans';
  text-align:center; 
  border: 1px;
  border-style:solid;
  border-color: rgb(140, 140, 140);
  border-radius: 0.5em;
  box-shadow: 0 7px 14px rgba(149, 103, 103, 0.25), 0 5px 5px ;
  background-color: rgb(246, 255, 252);
  font-size: 1vw;
  
}



@media only screen and (min-width : 320px) {
  .grid-element {
    grid-template-columns: 1fr  ;
  }
  .grid-table {
    grid-template-columns: 1fr ;
  }

  .image-desc{
    font-size: 2.8vw;
  }
  
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
  .grid-element {
    grid-template-columns: 1fr;
  }
  .grid-table {
    grid-template-columns: 1fr;
  }

  .image-desc{
    font-size: 2.5vw;
  }
  
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .grid-element {
    grid-template-columns: 1fr;
  }
  .grid-table {
    grid-template-columns: 1fr;
  }

  .image-desc{
    font-size: 2.3vw;
  }
  
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  .grid-element {
    grid-template-columns: 1fr 1fr;
  }
  .grid-table {
    grid-template-columns: 1fr;
  }

  .image-desc{
    font-size: 1.5vw;
  }
  
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  .grid-element {
    grid-template-columns: 1fr 1fr;
  }
  .grid-table {
    grid-template-columns: 1fr 1fr;
  }

  .image-desc{
    font-size: 0.8vw;
  }
  
}













.grid-table-2 {
  margin-top: 10vw;
  display: grid;
  column-gap: 16px;
  row-gap: 40px;
  margin-left: 30px;
  margin-right: 30px;

}


.grid-element-2 {
  position: relative;
  text-align: center;

}

.image-grid-2 {
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
  box-shadow: 0 7px 14px rgba(106, 102, 102, 0.25), 0 5px 5px ;
  opacity: 0.5;

  
}

.image-desc-2{
  font-family: 'Open Sans';
  font-size: 0.8vw;
  position: absolute;
  top: 8px;
  left: 16px;
  color:  rgb(0, 0, 0);;
}


@media only screen and (min-width : 320px) {
  .grid-element-2 {
    grid-template-columns: 1fr  ;
  }
  .grid-table-2 {
    grid-template-columns: 1fr ;
  }

  .image-desc-2{
    font-size: 2.8vw;
  }
  
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
  .grid-element-2 {
    grid-template-columns: 1fr;
  }
  .grid-table-2 {
    grid-template-columns: 1fr;
  }

  .image-desc-2{
    font-size: 2.5vw;
  }
  
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .grid-element-2 {
    grid-template-columns: 1fr;
  }
  .grid-table-2 {
    grid-template-columns: 1fr;
  }

  .image-desc-2{
    font-size: 2.3vw;
  }
  
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  
  .grid-table-2 {
    grid-template-columns: 1fr 1fr ;
  }

  .image-desc-2{
    font-size: 1.3vw;
  }
  
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

  .grid-table-2 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .image-desc-2{
    font-size: 0.8vw;
  }
  
}


/* ARTICLE GRID */
.article-table {
  margin-top: 10vw;
  display: grid;
  column-gap: 16px;
  row-gap: 40px;
  margin-left: 30px;
  margin-right: 30px;

}


.article-element {
  position: relative;
  text-align: center;

}

.article-element a{
  text-decoration: none;
  border: 0;
  color:black
}

.image-article {
  width: 100%;
  height: 100%;
  border-radius: 0.5em;
  box-shadow: 0 7px 14px rgba(106, 102, 102, 0.25), 0 5px 5px ;  
}



.article-desc{
  font-family: 'Open Sans';
  font-size: 0.8vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:  rgb(0, 0, 0);;
  background-color: rgb(227, 227, 227);
  opacity: 0.5;
  
}



@media only screen and (min-width : 320px) {
  .article-element {
    grid-template-columns: 1fr  ;
  }
  .article-table {
    grid-template-columns: 1fr ;
  }

  .article-desc{
    font-size: 7vw;
  }
  
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {
  .article-element {
    grid-template-columns: 1fr;
  }
  .article-table {
    grid-template-columns: 1fr;
  }

  .article-desc{
    font-size: 6vw;
  }
  
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  .article-element {
    grid-template-columns: 1fr;
  }
  .article-table {
    grid-template-columns: 1fr;
  }

  .article-desc{
    font-size: 5vw;
  }
  
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
  
  .article-table {
    grid-template-columns: 1fr 1fr ;
  }

  .article-desc{
    font-size: 4vw;
  }
  
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

  .article-table {
    grid-template-columns: 1fr 1fr 1fr ;
  }

  .article-desc{
    font-size: 3vw;
  }
  
}